@import url('https://fonts.googleapis.com/css2?family=Anton&family=Josefin+Sans:wght@300&family=Poppins:wght@300&family=Roboto:wght@300&family=Rubik:wght@300&display=swap');


* {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

@media all and (min-width: 1001px){

	.gradient{
	background: rgb(169,188,208);
	background: linear-gradient(180deg, rgba(169,188,208,1) 0%, rgba(216,219,226,0.8) 100%);
	height: 15vw;
	display: flex;
	justify-content: space-between;
	}
	.member{
	padding: 1vw 2vw;
	width: 15vw;
	height: 3.8vw;
	margin: 3.1vw 0vw 0 0;
	background-color: #58A4B0;
	border: 0;
	border-radius: 0.8vw;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 500;
	color: #FFFFFF;
	justify-content: center;
	font-size: 1.3vw;
	}

	.member:hover{
		background-color: #1FB9D1;
	}

	.map{
	padding: 1vw 2vw;
	width: 15vw;
	height: 3.8vw;
	margin: 3.1vw 2vw 0 0;
	background-color: transparent;
	border: 0.1vw solid #252525;
	border-radius: 0.8vw;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 500;
	color: #505050;
	font-size: 1.3vw;
	}

	.buttons{
		display: flex;
		flex-direction: row-reverse;
	}
	.logo svg{
		margin: 2.5vw 0 0 1vw;
		width: 20vw;
	}

	#menu-burger{
		visibility: collapse;
	}
	#menu{
		visibility: collapse;
	}

	body{
		background-color: #D8DBE2;
	}

	.firstTitle{
		display: flex;
		justify-content: center;
	}
	.secondeTitle{
		width: 32vw;
		height: 14vw;
		display: flex;
		font-family: Rubik;
		font-style: normal;
		font-weight: normal;
		font-size: 3vw;
		line-height: 3.5vw;
		text-align: center;
		letter-spacing: -0.02em;
		color: #000000;
	}

	.location{
		display:block;
		justify-content: center;
		width: 20%;
		margin-left: 40vw;
	}
	.firstWave{
		margin-top: 5vw;
		width: 100%;
	}

	.secondeWave{
		width: 100%;
	}

	.betweenWave{
		background-color: #0C2D48;
		height: 100%;
		margin-top: -1vw;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.culturalArea{
		width: 60vw;
		height: 5vw;
		font-family: Poppins;
		font-style: normal;
		font-size: 2vw;
		color: #FFFFFF;
		margin-bottom: 1vw;
	}

	.betweenWave img{
		display:inline-block;
	}

	.blueRectangle{
		width: 20.8vw;
	}

	.schedule{
		color: #FFFFFF;
		font-family: Roboto;
		text-align: center;
		position: absolute;
		font-size: 1vw;
	}

	.schedule p:nth-child(1){
		margin-bottom: 1vw;
	}

	.divCulturalArea{
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.imgCulturaArea{
		width: 20.8vw;
		height: 13.9vw;
	}

	.containerDownload{
		display: flex;
		width: 100%;
		flex-direction: column;
		justify-content: end;
		align-items: center;
		margin-top: 2.5vw;
	}

	.discoverBtn{
		display: flex;
		align-items: center;
		width: 9.5vw;
		height: 3.5vw;
		margin-top: 3vw;
		background-color: #58A4B0;
		border: 0;
		border-radius: 0.4vw;
		font-family: 'Roboto', sans-serif;
		font-style: normal;
		color: #FFFFFF;
		justify-content: center;
		align-content: center;
		font-size: 0.8vw;
	}

	.discoverBtn:hover{
		background-color: #1FB9D1;
	}

	.joinSpan{
		font-family: Rubik;
		font-style: normal;
		font-weight: normal;
		font-size: 1.75vw;
		letter-spacing: -0.02em;
		display: flex;
		justify-content: center;
		margin-top: 2vw;
		text-align: center;
	}

	.downloadBtn{
		width: 10vw;
		background-color: #A9BCD0;
		border: 0;
		border-radius: 1vw;
		padding: 0.5vw 1vw;
		display: inline-flex;
		justify-content: space-around;
		align-items: center;
		margin-top: 0.5vw;
	}	
	.downloadBtn:last-child{
		margin-bottom: 3vw;
	}

	.downloadBtn svg{
		width: 1.9vw;
		height: 1.9vw;
		margin-right: 1.3vw;
	}

	.downloadBtn:hover{
		background-color: #90AECD;
	}

	.informationContainer{
		background-color: #0C2D48;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		margin-top: 2vw;
	}

	.informationContainer ul li:nth-child(1){
		list-style-type: none;
		margin-top: 3vw;

	}
	ul a{
		color: white;
		text-decoration: none;
		font-family: Poppins;
		border: none;
		outline: none;
	}   
	ul a:visited{
		color:white;
		text-decoration: none;
		font-family: Poppins;
		border: none;
		outline: none;
		background-color: white;
	}
	.applicationContainer{
		display: flex;
		justify-content: center;
	}
	.ndapplicationContainer{
		display: flex;
		flex-direction: row;
		background-color: white;
		width: 760px;
		box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
	}
	.sliderContainer {
		width: 90%;
		height: 800px;
		overflow: hidden;
	}
	.slidesContainer {
		width: calc(360px * 5);
		animation: glisse 15s infinite;
	}
	.slideContainer {
		float: left;
	}

	@keyframes glisse {
		0% {
			transform: translateX(0);
		}
		5% {
			transform: translateX(0);
		}
		20% {
			transform: translateX(-360px);
		}
		25% {
			transform: translateX(-360px);
		}
		40% {
			transform: translateX(-720px);
		}
		45% {
			transform: translateX(-720px);
		}
		60% {
			transform: translateX(-1080px);
		}
		65% {
			transform: translateX(-1080px);
		}
		80% {
			transform: translateX(-1440px);
		}
		85% {
			transform: translateX(-1440px);
		}
		100% {
			transform: translateX(0);
		}
	}
}

@media all and (max-width: 1000px) {
	.gradient{
	background: rgb(169,188,208);
	background: linear-gradient(180deg, rgba(169,188,208,1) 0%, rgba(216,219,226,0.8) 100%);
	height: 15vw;
	display: flex;
	justify-content:space-between;
	}
	.buttons{
		display: flex;
		justify-content: right;
	}

	.member{
	visibility: collapse;
	}

	.phoneBtn{
		position: absolute;
		visibility: visible;
		width: 12vw;
		height: 10vw;
		background-color: transparent;
		border: solid 0.1vw black;
		margin: 1vw 1vw 0 0;
	}
	.menuImg{
		width: 10vw;

	}
	.phoneBtn:hover{
		opacity: 50%;
	}

	.map{
	visibility: collapse;
	}
	.logo svg{
		visibility: visible;
		width: 70%;
		margin: 7vw 0 0 5vw;

	}

	.titleSpan{
		visibility: collapse;
	}

	#menu-burger {position:absolute; top:1em; right:3.5vw; display:inline-block; cursor:pointer;}
	#menu-burger .bar1,
	#menu-burger .bar2,
	#menu-burger .bar3 {width:10vw; height: 1.5vw; background-color:#F1F1F1; margin:1.7vw; transition:0.4s;}
	#menu-burger:hover {opacity:.75; transition:.5s;}
	#menu-burger.clicked .bar1 {-webkit-transform:rotate(-45deg) translate(-9px, 6px); transform:rotate(-45deg) translate(-9px, 6px);}
	#menu-burger.clicked .bar2 {opacity: 0;}
	#menu-burger.clicked .bar3 {-webkit-transform:rotate(45deg) translate(-8px, -8px); transform:rotate(45deg) translate(-8px, -8px);}

	#menu {position:fixed; z-index:9998; left:-25%; top:auto; background-color: #D8DBE2; padding:4em 2em; width:25%; min-height:100%;}
	#menu ul li {list-style:none;}
	#menu ul li a {display:block; color:#fff; text-decoration:none; font-weight:500; background:#0C2D48; transition:background .5s; padding:2vw; text-align:center; margin: 6vw 0 5vw 0; font-family: Poppins;}
	#menu ul li a:hover {background: #0C2D48; transition:background .5s;}

	#menu.visible {animation:.5s slideRight ease-in forwards; transition-delay:0;}
	#menu.invisible {animation:1s slideLeft ease-out forwards; transition-delay:0;}

	#menu-burger:nth-child(1){
		margin-top: 3.5vw;
		margin-right: 2vw;
	}

	/* Animations pour le menu slide */
	@keyframes slideRight {
		from {left:-25%;}
		to {left:0%;}
	}
	@-webkit-keyframes slideRight {
		from {left:-25%;}
		to {left:0%;}
	}
	@keyframes slideLeft {
		from {left:0%;}
		to {left:-25%;}
	}
	@-webkit-keyframes slideLeft {
		from {left:0%;}
		to {left:-25%;}
	}

	#menu-burger {top:1em; right:2em; z-index:9999;}
	#menu {left:-100%; width: 83.7%;}

	/* Animations pour le menu slide */
	@keyframes slideRight {
		from {left:-100%;}
		to {left:0%;}
	}
	@-webkit-keyframes slideRight {
		from {left:-100%;}
		to {left:0%;}
	}
	@keyframes slideLeft {
		from {left:0%;}
		to {left:-100%;}
	}
	@-webkit-keyframes slideLeft {
		from {left:0%;}
		to {left:-100%;}
	}

	body{
		background-color: #D8DBE2;
	}

	.firstTitle{
		display: flex;
		justify-content: center;
		margin-top: 15vw;;
	}
	.secondeTitle{
		width: 80vw;
		height: 20vw;
		display: flex;
		font-family: Rubik;
		font-style: normal;
		font-weight: normal;
		font-size: 7vw;
		line-height: 7.5vw;
		text-align: center;
		letter-spacing: -0.02em;
		color: #000000;
	}

	.location{
		display:block;
		justify-content: center;
		width: 50%;
		margin-left: 25vw;
		margin-top: 8vw;
	}
	.firstWave{
		visibility: visible;
		margin-top: 10vw;
	}

	.secondeWave{
		visibility: visible;
		margin-top: -2vw;
	}

	.betweenWave{
		background-color: #0C2D48;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: -2vw;
	}

	.culturalArea{
		width: 80vw;
		text-align: center;
		height: 5vw;
		font-family: Poppins;
		font-style: normal;
		font-size: 4vw;
		color: #FFFFFF;
		margin-bottom: 1vw;
	}

	.betweenWave img{
		display:inline-block;
	}

	.blueRectangle{
		width: 60vw;
	}

	.schedule{
		color: #FFFFFF;
		font-family: Roboto;
		text-align: center;
		position: absolute;
		font-size: 3.5vw;
	}

	.schedule p:nth-child(1){
		margin-bottom: 1vw;
	}

	.divCulturalArea{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 15vw;
	}

	.imgCulturaArea{
		width: 60vw;
		height: 40vw;
	}

	.containerDownload{
		display: flex;
		width: 100%;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 2.5vw;
	}
	.discoverBtn{
		display: flex;
		align-items: center;
		width: 45vw;
		height: 10vw;
		margin-top: 10vw;
		margin-bottom: 10vw;
		background-color: #58A4B0;
		border: 0;
		border-radius: 0.4vw;
		font-family: 'Roboto', sans-serif;
		font-style: normal;
		color: #FFFFFF;
		justify-content: center;
		align-content: center;
		font-size: 3.5vw;
	}

	.discoverBtn:hover{
		background-color: #1FB9D1;
	}

	.joinSpan{
		font-family: Rubik;
		font-style: normal;
		font-weight: normal;
		font-size: 4vw;
		display: flex;
		text-align: center;
		letter-spacing: -0.02em;
		margin-top: 10vw;
	}

	.downloadBtn{
		width: 40vw;
		height: 10vw;
		background-color: #A9BCD0;
		border: 0;
		border-radius: 1vw;
		padding: 0.75vw 1.25vw;
		display: inline-flex;
		margin-top: 4vw;
	}	

	.downloadBtn svg{
		width: 6vw;
		height: 6vw;
		margin-left: 2vw;
		margin-top: 1vw;
	}

	.downloadBtn:hover{
		background-color: #90AECD;
	}

	.informationContainer{
		background-color: #0C2D48;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}

	.informationContainer ul li:nth-child(1){
		list-style-type: none;
		margin-top: 3vw;

	}
	ul a{
		color: white;
		text-decoration: none;
		font-family: Poppins;
		border: none;
		outline: none;
	}   
	ul a:visited{
		color:white;
		text-decoration: none;
		font-family: Poppins;
		border: none;
		outline: none;
		background-color: white;
	}
	.applicationContainer{
		display: flex;
		justify-content: center;
	}
	.ndapplicationContainer{
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		width: 100%;
		background-color: transparent;
		margin-top: 5vw;
	}
	.sliderContainer {
		width: 62%;
		height: 800px;
		overflow: hidden;
		margin-top: 10vw;
	}
	.slidesContainer {
		width: calc(270px * 5);
		animation: glisse 15s infinite;
	}
	.slideContainer {
		float: left;
	}
	.slideContainer img{
		width: 270px;
		height: 600px;
	}

	@keyframes glisse {
		0% {
			transform: translateX(0);
		}
		5% {
			transform: translateX(0);
		}
		20% {
			transform: translateX(-270px);
		}
		25% {
			transform: translateX(-270px);
		}
		40% {
			transform: translateX(-540px);
		}
		45% {
			transform: translateX(-540px);
		}
		60% {
			transform: translateX(-810px);
		}
		65% {
			transform: translateX(-810px);
		}
		80% {
			transform: translateX(-1080px);
		}
		85% {
			transform: translateX(-1080px);
		}
		100% {
			transform: translateX(0);
		}
	}
}